@import url('https://fonts.googleapis.com/css2?family=HyundaiSans-Text-Pro-Bold&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'HyundaiSans-Text-Pro-Bold', sans-serif;
    background-color: white;
    color: #fff;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
}

/* 네비게이션 바 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.login-icon {
    width: 22px;
    height: auto;
    cursor: pointer;
}

.login-icon:hover {
    opacity: 0.7;
}

.inner {
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#navLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#navLogo img {
    width: 150px;
    height: auto;
}


#navTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}


.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav ul li a:hover {
    color: #aaa;
}


.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1100;
    cursor: pointer;
    transform: translateY(-50%);
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
    transition: left 0.3s ease-in-out;
    z-index: 9999 !important;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu ul li {
    padding: 15px 20px;
}

.sidebar-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
}

.sidebar-menu ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}


.sub-menu {
    padding-left: 30px;
}


.sidebar-menu.active {
    left: 0;
}


.scrolled .header {
    top: 0;
}

.scrolled #mainTitle {
    transform: translateY(-100px);
    opacity: 0;
}

.scrolled #navTitle {
    opacity: 1;
}


/* 푸터 */
.footer-container {
    width: 80%;
    height: auto;
    min-height: 400px;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    border-radius: 20px;
    text-align: center;
    background-color: none;
}

.footer-content {
    width: 90%;
    max-width: 1200px;
    position: relative;
}

.footer-logo {
    position: absolute;
    top: -160px;
    left: 0;

}

.footer-logo img {
    width: 300px;
    height: auto;
}

.footer-info {
    position: absolute;
    bottom: -140px;
    left: 150px;
    transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
    text-align: left;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    text-align: left;
}

.developer-sites {
    position: absolute;
    bottom: -120px;
    right: -10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.icon-plus {
    font-size: 18px;
    margin-left: 10px;
}

.scroll-top {
    position: absolute;
    top: -150px;
    left: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-top:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #000;
}

.developer-sites {
    position: absolute;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}

.icon-plus {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.dropdown-menu {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 250px;
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-menu ul {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 8px 10px;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
    text-decoration: none;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #fff;
}

.dropdown-menu li:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}


.developer-sites.active .icon-plus {
    transform: rotate(180deg);
}

.developer-sites.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/************** 여기서 부터 ****************/
.sub-banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    background-image: url("img/subbanner.png");
    background-size: cover;
    background-position: center;
}

.sub-banner h2 {
    display: flex;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    margin-left: 50px;
}

.content-wrapper {
    width: 100%;
    height: auto;
    background-color: #e7e7e7;

}

#exhibition {
    width: 95%;
    border-radius: 15px;
    margin: 50px auto;
}

.exhibition-container {
    width: 100%;
    padding: 40px 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exhibition-container h2{
    font-size: 2.2rem;
    color: black;
    margin-bottom: 50px;
    margin-top: 20px;
}

.exhibition-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}

.exhibition-item {
    background: white;
    padding: 20px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.exhibition-item h3{
    color: black;
    font-size: 1rem;
    margin-bottom: 8px;
}
.exhibition-item p{
    color: black;
    font-size: 0.8rem;
}
.exhibition-item:hover {
    transform: translateY(-5px);
}

.label {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.ai-lm {
    background-color: black;
}

.ad-challenge {
    background-color: #FF5910;
}

.smart-city {
    background-color: #3CB371;
}



@media screen and (max-width: 1024px) {
    .hamburger {
        display: block;
    }

    .nav ul {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .content-wrapper {
        justify-content: center;
    }

    .top-contents img {
        width: 50%;
        align-self: center;
        justify-content: center;

    }

    .top-contents p {
        font-size: 0.9rem;
        margin-top: 10px;
        z-index: 50;
        z-index: 9999;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-buttons {
        flex-direction: column;
        margin-top: 10px;
    }


    .exhibition-container h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .exhibition-grid {
        grid-template-columns: repeat(2, 1fr) !important; 

    }

    .developer-sites {
        width: 120px;
        padding: 10px;
    }

    .footer-info {
        width: 120px;
        bottom: -140px;
        left: 30px;
        transform: translateX(-50%);
        color: #fff;
        font-size: 14px;
        text-align: left;
    }

    .footer-logo img {
        width: 200px;
    }

    .footer-info a,p {
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        margin: 0 5px;
        text-align: left;
    }

}